---
import pp from "../images/pp.png"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <img src={pp.src} draggable="false" id="me" alt="Me">
    <h2>Esteban Rattier ~</h2>
    <p>I'm a junior developer, actually student in dev school, take a look at my <a href="https://github.com/Kaz-OS/resume/releases/latest/download/Esteban_Rattier_CV.pdf" target="_blank">resume</a>.<br /></p>
    <div id="horizontal" role="separator" aria-orientation="horizontal"></div>
    <section id="workspace">
        <section id="contact">
            <h3>Contacts :</h3>
            <a href="https://linkedin.com/in/estebanrattier" target="_blank">LinkedIn</a>
            <a href="mailto:rattier.esteban.pro@gmail.com">Mail</a>
        </section>
        <section id="project">
            <h3>Projects :</h3>
            <a href="https://github.com/Kaz-OS" target="_blank">GitHub</a>
        </section>
    </section>

</Layout>

<style>

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500&display=swap');

* {
    font-family: 'Satoshi', sans-serif;
}

::selection {
    background-color: oklch(0.88 0.06 351 / 0.5);
    color: #2a2a2a;
}

h1, h2{
    color: #666;
    line-height: 1rem;
}

h3 {
    color: #666;
    line-height: 0.9rem;
}

p {
    line-height: 0.6rem;
}

a {
    color: black;
}

#horizontal{
    width: 35rem;
    height: 1px;
    border: none;
    background-color: #aaa;
    margin: 1.5rem 0;
}

#contact {
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

#workspace {
    display: flex;
    gap: 5rem;
}

#me {
    width: 3.8rem;
    border-radius: 60px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
</style>
