---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("rp");
---

<Layout>
  <section class="post-list">
    {
      posts.map((item) => (
        <div class="post-item">
          <a class="post-link" href={`/rp/${item.id}`}>
            {item.data.title}
          </a>
        </div>
      ))
    }
  </section>
</Layout>
