--- 
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection("rp");
---
<Header />
<Layout>
  <section class="post-list">
    {posts.map((item) => (
      <div class="post-item">
        <a class="post-link" href={`/rp/${item.id}`}>
          {item.data.title}
        </a>
      </div>
    ))}
  </section>
</Layout>

