	<header>
		<img src="/MainBefore.jpg" alt="Photo de profil">
		<div class="headerContent">
			<h1>~ Esteban Rattier ~ </h1>
			<div class="headerLinks">
				<a href="/veille">veille</a>
				<a href="/ERA_TableauDeSynthese.xlsx">rectorat</a>
			</div>
		</div>
	</header>